.input-search > input:focus {
    border: none !important;
    outline: none !important;
}

button,a,nav,.nav-open,.hidden-scrollbar{
    transition: 0.3s;
}
.anim-navbar{
    animation: anim-navbar-key 0.3s ease ;
}

@keyframes anim-navbar-key {
    from{
        top: -76px;
    }to{
        top: 0;
    }
}



@media only screen and (max-width:379px) {
    .logo-name {
        display: none;
    }
}
@media only screen and (min-width:1280px){
    .hidden-scrollbar {
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* Internet Explorer 11 */
      }
      
      .hidden-scrollbar::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Edge */
      }
}
